.img-part img {
    width: 250px;
    height: 150px;
    margin-top: 25px;
}

.root-div {
    max-width: 1200px;
    margin: 0 auto;
}

button {
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;

    border: none;
    background-color: rgb(89, 248, 248);

}

button:hover {

    border: none;
    padding: 5px;
    background-color: cyan;
}